{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<style>
    body {
        background-color: lightblue;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .jumbotron2 {
        background: plum;
    }

    .btn-default {
        border-radius: 20px;
        cursor: pointer;
        margin-right: 180px;

    }

    .container1 {
        margin-right: 20px;

    }

    h2 {
        font-family: 'Akronim', cursive;
        font-size: 100px;

    }

    p {
        font-family: 'Sail', cursive;
        font-size: 20px;
    }

    li {
        font-family: 'Sail', cursive;
        font-size: 20px;
    }
</style>

<div class="container1">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Categories
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Travel</li>
            <li class="list-group-item">Sports</li>
            <li class="list-group-item">Wedding</li>
            <li class="list-group-item">Sports</li>
            <li class="list-group-item">Fashion</li>
            <li class="list-group-item">Photography</li>
        </ul>
    </div>
    <div class="text-center">
        <h2> My Gallery</h2>
        <hr class="my-5">
    </div>


    <div class="container">
        <div class="row">
            {% for image in all_images %}

            <div class="col-md-4 ftco-animate">
                <div class="card">
                    <img src="{{image.image_path.url}}" class="img-thumbnail" data-toggle="modal"
                        data-target="#myModal{{image.id}}" alt="" />
                </div>
            </div>

            <div id="myModal{{image.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <img src="{{image.image_path.url}}" class="img-thumbnail">
                            <p style="color:rgb(0, 0, 0)" ;> Name: {{image.image_name}}</p>
                            <p> Location: {{image.image_location}}</p>
                            <p> Description: {{image.image_description}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="color: darkblue;" class="btn btn-default"
                                data-dismiss="modal">Close</button>
                            <br>
                            <br>
                            <br>
                            <button type="button" name="button" class="btn btn-default" value="{{image.image_path.url}}"
                                onclick="copylink(this.value)">Copy Image
                                Link</button>
                        </div>
                    </div>


                </div>
                </a>
            </div>

            {%endfor%}

        </div>

    </div>
    <script>
        function copylink(value) {
            function handler(event) {
                event.clipboardData.setData('text/plain', 'https://mygallery-mo.herokuapp.com' + value);
                event.preventDefault();
                document.removeEventListener('copy', handler, true);
            }
            document.addEventListener('copy', handler, true);
            document.execCommand('copy');

        }
    </script>





    {% endblock %}