<!-- <!-- {% load static %} -->


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">

            </li>

        </ul>

    </div>
</nav> -->
<!-- <div class="jumbotron">
    <h1><strong>
            <em>
                MY GALLERY </em></strong></h1>
</div> -->
<!-- 
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Locations
</a> -->
<!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for category in location_results %}
    <a class="dropdown-item" href="/location/{{category.location_name}}">{{category.location_name}}</a>

    <div class="dropdown-divider"></div>


    {% endfor %}
</div> -->
<!-- <a class="navbar-brand" href="/">Gallery</a>
<form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
    <input class="form-control mr-sm-2" type="text" placeholder="Search by category" name="searchItem"
        aria-label="Search" style="width: 500px; border-radius:20px;">
    <button class="btn btn-outline-danger" type="submit">Search</button>
</form> -->




<style>
    a{
        font-family: 'Sail', cursive;
        font-size: 150px;
    }
</style>

<nav class="navbar navbar-dark default-color">
    <a class="navbar-brand" href="/">Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in location_results %}
                    <a class="dropdown-item" href="/location/{{category.location_name}}">{{category.location_name}}</a>

                    <div class="dropdown-divider"></div>


                    {% endfor %}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by category" name="searchItem"
                aria-label="Search" style="width: 500px; border-radius:20px;">
            <button class="btn btn-default" type="submit">Search</button>
        </form>
    </div>
</nav>